<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>

<h1>Hi There!</h1>

<form action="/madlib">
  What's your name?<label> <input type="text" name="person"></label><br>
    What's your favorite color?<label><input type="text" name="color"></label><br>
   List a place: <label><input type="text" name="place"></label><br>
   List an adjective:<label><input type="text" name="adjective"></label><br>
   <label>List a verb: </label><br>
        <input type="checkbox" name="verb" value ="dance">dance</label><br>
        <input type="checkbox" name="verb" value ="drink">drink</label><br>
        <input type="checkbox" name="verb" value ="sing">sing</label><br>
        <input type="checkbox" name="verb" value ="eat">eat</label><br>
        <input type="checkbox" name="verb" value ="sleep">sleep</label><br>
  <input type="submit"><br>

</form>

</body>
</html>
